.catSliderSection{
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.cat_slider_main .slick-slide{
    padding-right: 20px !important;
}

.cat_slider_main .slick-list{
    padding-left: 25px !important;
}

.cat_slider_main .item{
    height: auto;
    /* background: #f4f6fa; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 10px;
    margin: 20px;
}

.cat_slider_main .item .info{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    position: relative;
    border-radius: 10px;
}
/* .cat_slider_main .item .info img{
        width: 100%; 
} */
.cat_slider_main .item a{
    text-decoration: none;
}
.cat_slider_main .item .info h5{
    font-weight: 600 !important;
    padding-top: 10px;
    color: #000 !important;
}

.cat_slider_main .item .info p{
    font-size: 14px;
    opacity: 0.8;
    color: #000;
    margin-bottom: 0px;
    text-align: center;
}

.cat_slider_main .slick-arrow{
    zoom: 60%;
}

.cat_slider_main .slick-arrow.slick-next{
    top: -50px !important;
    right: 15px !important;
}

.cat_slider_main .slick-arrow.slick-prev{
    top: -50px !important;
    right: 100px !important;
    left: inherit !important;
}

.cat_slider_main .item:hover .info, .cat_slider_main .slick-current .info{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); 
    /* border: 1px solid #a2ffa3; */
    transform: scale(1.1);
}